# Trend Analysis: Comprehensive Data Cleaning

This project takes a customer sales dataset for a fictional electronics company and walks through necessary steps for efficient data analysis, including comprehensive data cleaning. The goal is to ensure accurate data for effective analysis and visualization, producing valuable insights for key decision-making.

## Install necessary libraries

In [1]:
!pip install pandas seaborn matplotlib

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/e1/0c/ad295fd74bfac85358fd579e271cded3ac969de81f62dd0142c426b9da91/pandas-2.2.3-cp312-cp312-macosx_11_0_arm64.whl.metadata
  Using cached pandas-2.2.3-cp312-cp312-macosx_11_0_arm64.whl.metadata (89 kB)
Collecting seaborn
  Obtaining dependency information for seaborn from https://files.pythonhosted.org/packages/83/11/00d3c3dfc25ad54e731d91449895a79e4bf2384dc3ac01809010ba88f6d5/seaborn-0.13.2-py3-none-any.whl.metadata
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Collecting matplotlib
  Obtaining dependency information for matplotlib from https://files.pythonhosted.org/packages/35/3e/5713b84a02b24b2a4bd4d6673bfc03017e6654e1d8793ece783b7ed4d484/matplotlib-3.9.2-cp312-cp312-macosx_11_0_arm64.whl.metadata
  Using cached matplotlib-3.9.2-cp312-cp312-macosx_11_0_arm64.whl.metadata (11 kB)
Collecting numpy>=1.26.0 (from pandas)
  Obtaining dependency information for numpy>=1.26.0 from https://files.pythonhosted.org/packages/56/44/f899b0581766c230da42f751b7b8896d096640b19b312164c267e48d36cb/numpy-2.1.2-cp312-cp312-macosx_14_0_arm64.whl.metadata
  Using cached numpy-2.1.2-cp312-cp312-macosx_14_0_arm64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/11/c3/005fcca25ce078d2cc29fd559379817424e94885510568bc1bc53d7d5846/pytz-2024.2-py2.py3-none-any.whl.metadata
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Obtaining dependency information for tzdata>=2022.7 from https://files.pythonhosted.org/packages/a6/ab/7e5f53c3b9d14972843a647d8d7a853969a58aecc7559cb3267302c94774/tzdata-2024.2-py2.py3-none-any.whl.metadata
  Using cached tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Obtaining dependency information for contourpy>=1.0.1 from https://files.pythonhosted.org/packages/e3/04/33351c5d5108460a8ce6d512307690b023f0cfcad5899499f5c83b9d63b1/contourpy-1.3.0-cp312-cp312-macosx_11_0_arm64.whl.metadata
  Using cached contourpy-1.3.0-cp312-cp312-macosx_11_0_arm64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Obtaining dependency information for cycler>=0.10 from https://files.pythonhosted.org/packages/e7/05/c19819d5e3d95294a6f5947fb9b9629efb316b96de511b418c53d245aae6/cycler-0.12.1-py3-none-any.whl.metadata
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Obtaining dependency information for fonttools>=4.22.0 from https://files.pythonhosted.org/packages/67/9d/cfbfe36e5061a8f68b154454ba2304eb01f40d4ba9b63e41d9058909baed/fonttools-4.54.1-cp312-cp312-macosx_11_0_arm64.whl.metadata
  Using cached fonttools-4.54.1-cp312-cp312-macosx_11_0_arm64.whl.metadata (163 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Obtaining dependency information for kiwisolver>=1.3.1 from https://files.pythonhosted.org/packages/80/c5/57fa58276dfdfa612241d640a64ca2f76adc6ffcebdbd135b4ef60095098/kiwisolver-1.4.7-cp312-cp312-macosx_11_0_arm64.whl.metadata
  Using cached kiwisolver-1.4.7-cp312-cp312-macosx_11_0_arm64.whl.metadata (6.3 kB)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.12/site-packages (from matplotlib) (24.1)
Collecting pillow>=8 (from matplotlib)
  Obtaining dependency information for pillow>=8 from https://files.pythonhosted.org/packages/4f/d5/1caabedd8863526a6cfa44ee7a833bd97f945dc1d56824d6d76e11731939/pillow-11.0.0-cp312-cp312-macosx_11_0_arm64.whl.metadata
  Using cached pillow-11.0.0-cp312-cp312-macosx_11_0_arm64.whl.metadata (9.1 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Obtaining dependency information for pyparsing>=2.3.1 from https://files.pythonhosted.org/packages/be/ec/2eb3cd785efd67806c46c13a17339708ddc346cbb684eade7a6e6f79536a/pyparsing-3.2.0-py3-none-any.whl.metadata
  Using cached pyparsing-3.2.0-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.3-cp312-cp312-macosx_11_0_arm64.whl (11.4 MB)
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Using cached matplotlib-3.9.2-cp312-cp312-macosx_11_0_arm64.whl (7.8 MB)
Using cached contourpy-1.3.0-cp312-cp312-macosx_11_0_arm64.whl (251 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Using cached fonttools-4.54.1-cp312-cp312-macosx_11_0_arm64.whl (2.3 MB)
Using cached kiwisolver-1.4.7-cp312-cp312-macosx_11_0_arm64.whl (63 kB)
Using cached numpy-2.1.2-cp312-cp312-macosx_14_0_arm64.whl (5.1 MB)
Using cached pillow-11.0.0-cp312-cp312-macosx_11_0_arm64.whl (3.0 MB)
Using cached pyparsing-3.2.0-py3-none-any.whl (106 kB)
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, pyparsing, pillow, numpy, kiwisolver, fonttools, cycler, pandas, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.0 cycler-0.12.1 fonttools-4.54.1 kiwisolver-1.4.7 matplotlib-3.9.2 numpy-2.1.2 pandas-2.2.3 pillow-11.0.0 pyparsing-3.2.0 pytz-2024.2 seaborn-0.13.2 tzdata-2024.2

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: pip install --upgrade pip

## Import necessary libraries

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Load dataset

Here, we load the dataset to explore its structure and content, starting with visualizing the first few rows.

In [3]:
# Load dataset
df = pd.read_csv('customer_sales.csv')

# View first few rows
df.head()

,CustomerID,Name,Email,PurchaseDate,Product,Quantity,UnitPrice,TotalAmount
0,CUST00001,James Parker Jr.,lorimatthews@example.net,24/11/2020,Router,2.0,80.0,160.0
1,CUST00001,James Parker Jr.,lorimatthews@example.net,24/11/2020,Router,2.0,80.0,160.0
2,CUST00003,Margaret Weaver,vbutler@example.org,11/11/2015,Smartwatch,1.0,200.0,-2.0
3,CUST00004,Eric Vega,ubarnes@example.org,18/1/2024,Laptop,1.0,1000.0,3000.0
4,CUST00005,Alyssa Smith,goodmannichole@example.org,30/6/2024,Tablet,2.0,400.0,800.0

## Data overview

Here, we check the dataset's structure further, including the data types of each column and the prescence of any missing values.

In [4]:
# Identify data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    9997 non-null   object
 1   Name          9998 non-null   object
 2   Email         9997 non-null   object
 3   PurchaseDate  10000 non-null  object
 4   Product       10000 non-null  object
 5   Quantity      9996 non-null   float64
 6   UnitPrice     9997 non-null   float64
 7   TotalAmount   9996 non-null   float64
dtypes: float64(3), object(5)
memory usage: 625.1+ KB

In [5]:
# Check for missing values
df.isnull().sum()

CustomerID      3
Name            2
Email           3
PurchaseDate    0
Product         0
Quantity        4
UnitPrice       3
TotalAmount     4
dtype: int64

In [6]:
# Show rows with missing values
df[df.isnull().any(axis=1)]

,CustomerID,Name,Email,PurchaseDate,Product,Quantity,UnitPrice,TotalAmount
11,CUST00015,Mary Mathews,NaN,28/10/2021,Camera,1.0,500.0,500.0
16,CUST00020,David Campbell,NaN,5/4/2021,Laptop,1.0,1000.0,4000.0
28,CUST00032,NaN,ysmith@example.com,21/11/2016,Microphone,5.0,130.0,650.0
32,CUST00036,Alicia Marks,NaN,7/7/2021,Router,3.0,80.0,240.0
216,CUST00220,Brian Johnson,portiz@example.com,6/1/2016,Smartphone,NaN,700.0,2100.0
223,CUST00227,Mary Murphy,justin86@example.com,6/2/2016,Keyboard,NaN,100.0,200.0
255,CUST00259,Laura Henderson,peter95@example.com,19/8/2022,Keyboard,NaN,100.0,200.0
296,CUST00300,Vanessa Gibson,rickybrown@example.org,19/3/2017,Tablet,NaN,400.0,400.0
417,CUST00421,Sean Fisher,nicholasbernard@example.net,17/6/2019,Headphones,5.0,NaN,750.0
520,CUST00524,Mrs. Lisa Wood,brianfrank@example.net,4/2/2017,Speaker,4.0,NaN,720.0
591,CUST00595,Luis Steele,aprilbryant@example.org,1/11/2022,Headphones,5.0,NaN,750.0
631,CUST00635,Allison Gates,robert12@example.org,26/7/2016,Router,5.0,80.0,NaN
716,CUST00720,Laura Gonzalez,jonesthomas@example.org,13/11/2023,Mouse,1.0,50.0,NaN
728,CUST00732,Jennifer Brown,tonyamay@example.org,10/2/2021,Headphones,2.0,150.0,NaN
734,CUST00738,Scott Shelton,munozheidi@example.org,6/11/2022,Camera,1.0,500.0,NaN
9997,NaN,George Mckinney,lauriekelley@example.com,17/7/2021,Monitr,4.0,300.0,1200.0
9998,NaN,Cheryl Rogers,aevans@example.net,12/8/2021,Spker,2.0,180.0,360.0
9999,NaN,NaN,lmorgan@example.org,12/9/2022,USB Flash Drive,3.0,20.0,60.0

## Handle missing values

Here, we handle the missing values identified in the dataset by dropping and imputing data, depending on the nature of the column.

In [7]:
def handle_missing_values(df):
    """
    Function to handle missing values using various strategies.
    
    :param df: DataFrame with missing values.
    :return: DataFrame without missing values.
    """
    # Drop rows with missing values in critical columns
    df.dropna(subset=['CustomerID', 'Name', 'Email'], inplace=True)

    # Impute 'Quantity' where missing
    mask_quantity = (
        df['Quantity'].isnull() &
        df['TotalAmount'].notnull() &
        df['UnitPrice'].notnull()
    )
    df.loc[mask_quantity, 'Quantity'] = (
        df.loc[mask_quantity, 'TotalAmount'] /
        df.loc[mask_quantity, 'UnitPrice']
    )

    # Impute 'UnitPrice' where missing
    mask_unitprice = (
        df['UnitPrice'].isnull() &
        df['TotalAmount'].notnull() &
        df['Quantity'].notnull()
    )
    df.loc[mask_unitprice, 'UnitPrice'] = (
        df.loc[mask_unitprice, 'TotalAmount'] /
        df.loc[mask_unitprice, 'Quantity']
    )

    # Impute 'TotalAmount' where missing
    mask_totalamount = (
        df['TotalAmount'].isnull() &
        df['Quantity'].notnull() &
        df['UnitPrice'].notnull()
    )
    df.loc[mask_totalamount, 'TotalAmount'] = (
        df.loc[mask_totalamount, 'Quantity'] *
        df.loc[mask_totalamount, 'UnitPrice']
    )

    return df

df = handle_missing_values(df)

## Checking for duplicates

Next, we check for any duplicate rows in the dataset and remove them to ensure data integrity.

In [8]:
# Check for duplicate rows
df[df.duplicated(keep=False)]

,CustomerID,Name,Email,PurchaseDate,Product,Quantity,UnitPrice,TotalAmount
0,CUST00001,James Parker Jr.,lorimatthews@example.net,24/11/2020,Router,2.0,80.0,160.0
1,CUST00001,James Parker Jr.,lorimatthews@example.net,24/11/2020,Router,2.0,80.0,160.0

In [9]:
# Drop exact duplicates
df.drop_duplicates(inplace=True)

## Detect partial duplicates

We also check for partial duplicates in the data based on key identifiers, to ensure any remaining duplicates are valid.

In [10]:
# Detect partial duplicates based on key identifiers
df[df.duplicated(subset=['CustomerID', 'Name', 'Email'], keep=False)]

,CustomerID,Name,Email,PurchaseDate,Product,Quantity,UnitPrice,TotalAmount
71,CUST00075,David Jennings,reginaramirez@example.org,18/5/2021,Printer,5.0,250.0,1250.0
72,CUST00075,David Jennings,reginaramirez@example.org,22/3/2015,Speaker,1.0,180.0,180.0